@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eaf3ec;

}

/* Encabezado */
h1{
    font-size: 1.6cap;
    text-align: center;
    color: #38874b;
}
h2 {
    color: #1c7430;
    text-align: center;
    margin-top: 2rem;
    font-size: 4cap;
}

/* Contenedor principal */

.container {
    margin: 4rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 5px;
    flex: 1;
    max-width: 500px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.email-icon{
    width: 150px;
}

.style{
justify-content: center;
display: grid;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
}
    
.image-container {
    flex: 1;
    max-width: 500px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    text-align: center;
}
    
.image-container img {
    max-width: 100%;
    height: auto;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="email"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1rem;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #507C5C;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #91AC89;
}

.container-wrapper {
display: flex;
justify-content: center;
align-items: center;
max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
margin: 0 auto;
}

.image-container {
flex: 1;
max-width: 500px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
text-align: center;
}

.image-container img {
max-width: 100%;
height: auto;
}