/* form create post */
#modal::backdrop, .modal{
    background-color: rgba(0, 0, 0, 0.4);
}

dialog, .modal-content {
    width: 550px;
    background-color: #fff;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow);
}

.form__container {
    margin: 20px 15px;
}

.form__label {
    display: flex;
    justify-content: space-between;
}

.form__label b {
    text-align: center;
    margin: auto;
    color: var(--dark-green);
    font-size: 3rem;
}

.form__label button {
    background-color: transparent;
    color: var(--dark-green);
    font-size: 3.5rem;
}

.form__user {
    display: flex;
}

.form__menu {
    position: absolute;
    right: 15px;
}

.form__menu select{
    background-color: var(--dark-green);
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 4px;   
}

.form__menu option {
    background-color: var(--green);
    color: var(--dark-green);
}

.form__title input{
    width: 100%;
    margin: 15px 0;
    border: 1px solid var(--dark-green);
    border-radius: 30px;
    color: var(--dark-green);
    padding-left: 15px;
}

.form__text textarea{
    width: 100%;
    height: 100px;
    resize: none;
    color: var(--dark-green);
}

.form__add {
    background-color: var(--green);
    border-radius: 30px;
    padding-top: 5px;
    align-items: center;    
    display: flex;
    justify-content: space-around;
}

/*input[type="file"] {
    display: none;
}*/

.custom-file-upload {
    cursor: pointer;
    font-size: 2.2rem;
    margin: 0 20px;
    padding-bottom: 5px;
}

.form__input {
    width: 100%;
    margin-top: 15px;
    background-color: var(--dark-green);
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    padding: 5px;
}

.form__image{
    width: 100%;
    margin: 0 auto 15 auto;
}

.form__image img, .form__image video{
    display: block;
    position: relative;
    max-width: 100%;
    border-radius: 30px;
    max-height: 400px;
    margin: auto;
}

#remove-media {
    background-color: transparent;
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
}

#remove-media i {
    font-size: 4rem;
    color: var(--dark-green);
}
