*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
}
      
.menu {
  color: #fff;
  width: 250px;
  padding-left: 20px;
  height: 100vh;
  background-image: linear-gradient(30deg, #D7E5BF, #D7E5BF);
  border-top-right-radius: 90px;
  font-family: 'Monserrat', sans-serif;
}

.menu a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  outline: none;
}

.menu a:hover {
  color: #ffffff;
  background: #012E29;
  position: relative;
  background-color: #012E29;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}
.filtros.oculto {
  display: none;
}
.filtros {
  /* width: 150px; */
  height: 30px;
  margin: 5px 10px;
  padding: 5px;
  background-color: #ffffff; 
}
#filtro-estado {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 8px 16px;
  margin-right: 10px;
}

.apartado{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.foto{
  display: contents;
  justify-content: center;
}

.user{
  border: none;
  border-bottom: 0.01rem solid #000;
}

.PublicacionesLeft{
  /* display: flex; */
  /* margin: 10%; */ 
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  /* height: 50vh;
  left: 25vh; */
  /* grid-template-columns: [linename1] 100px; */
}
.PublicacionesRight{
  display: contents;
  /* margin: 5%; */
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  /* grid-template-columns: [linename1] 100px; */
}
.publicacion{
  margin: 15%;
  background-color: #d3d4d4;

}
.pub{
  color: #ffffff;
  background: #012E29;
  border-radius: 22px;
}